<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="default"
>
  <head>
    <title>Spring Security Example</title>
  </head>
  <body>
    <div layout:fragment="content">
      <v-card
      width="60%"
      class="mx-auto my-12">
        <v-stepper v-model="e1">
          <v-stepper-header>
            <v-stepper-step
              :complete="e1 > 1"
              step="1"
            >
              Title and description
            </v-stepper-step>

            <v-divider></v-divider>

            <v-stepper-step
              :complete="e1 > 2"
              step="2"
            >
              Images
            </v-stepper-step>

            <v-divider></v-divider>

            <v-stepper-step
              :complete="e1 > 3"
              step="3"
            >
              Notes and Source
            </v-stepper-step>

            <v-divider></v-divider>

            <v-stepper-step
              :complete="e1 > 4"
              step="4"
            >
              Time and Servings
            </v-stepper-step>

            <v-divider></v-divider>

            <v-stepper-step
              :complete="e1 > 5"
              step="5"
            >
              Ingredients
            </v-stepper-step>

            <v-divider></v-divider>

            <v-stepper-step
              :complete="e1 > 6"
              step="6"
            >
              Instructions
            </v-stepper-step>
          </v-stepper-header>
          <form method="POST" th:action="@{/recipe/create}" th:object="${RecipeDetails}" enctype="multipart/form-data">
            <v-stepper-content step="1">
              Title (make sure it's unique!)
              <v-textarea
                  type="text"
                  name="title"
                  id="inputTitle"
                  th:field="*{title}"
                  rows="1"

                  counter
                  :rules="titlrules"
                  required
                ></v-textarea>

              <v-spacer></v-spacer>

              Description
              <v-textarea
                type="text"
                name="description"
                id="inputDescription"
                th:field="*{description}"
                
                counter
                :rules="descrules"
                required>
              </v-textarea>

              <v-btn
                color="primary"
                @click="e1 = 2"
              >
                Continue
              </v-btn>
      
              <v-btn text @click="redirect('/')">
                Cancel
              </v-btn>
            </v-stepper-content>
            
            <v-stepper-content step="2">
              Images
              <v-file-input
              type="file"
                name="images"
                id="inputImages"
                th:field="*{images}"

                :rules="imagrules"
                multiple
                accept="image/*"
                label="Images"
                required></v-file-input>
      
              <v-btn
                color="primary"
                @click="e1 = 3"
              >
                Continue
              </v-btn>
                    
              <v-btn
                color="secondary"
                @click="e1 = 1"
              >
                Back
              </v-btn>
      
              <v-btn text @click="redirect('/')">
                Cancel
              </v-btn>
            </v-stepper-content>

            <v-stepper-content step="3">
              Notes
              <v-textarea
                  type="text"
                  name="notes"
                  id="inputNotes"
                  th:field="*{notes}"

                  :rules="inputrules"
                  required
                ></v-textarea>

              <v-spacer></v-spacer>

              Source (Leave blank if none)
              <v-textarea
              type="text"
              name="source"
              id="inputSource"
              th:field="*{source}"
              rows="1">

              </v-textarea>
      
              <v-btn
                color="primary"
                @click="e1 = 4"
              >
                Continue
              </v-btn>
                    
              <v-btn
                color="secondary"
                @click="e1 = 2"
              >
                Back
              </v-btn>
      
              <v-btn text @click="redirect('/')">
                Cancel
              </v-btn>
            </v-stepper-content>

            <v-stepper-content step="4">
              <v-spacer></v-spacer>
              Hours
              <v-text-field
              type="number"
              name="hours"
              id="inputHours"
              th:field="*{hours}"
              
              :rules="inputRules"
              required>

              </v-text-field>

              <v-spacer></v-spacer>

              Minutes
              <v-text-field
              type="number"
              name="minutes"
              id="inputMinutes"
              th:field="*{minutes}"
              
              :rules="inputRules"
              required>

              </v-text-field>


              Yield
              <v-text-field
              type="text"
              name="servings"
              id="inputServings"
              th:field="*{servings}"

              :rules="inputRules"
              required>

              </v-text-field>
      
              <v-btn
                color="primary"
                @click="e1 = 5"
              >
                Continue
              </v-btn>
                    
              <v-btn
                color="secondary"
                @click="e1 = 3"
              >
                Back
              </v-btn>

              <v-btn text @click="redirect('/')">
                Cancel
              </v-btn>
            </v-stepper-content>
            <v-stepper-content step="5">
              Ingredients (comma seperated)
              <v-textarea
              type="text"
              name="ingredients"
              id="inputIngredients"
              th:field="*{ingredients}"
              
              :rules="inputRules"
              required></v-textarea>
      
              <v-btn
                color="primary"
                @click="e1 = 6"
              >
                Continue
              </v-btn>
                    
              <v-btn
                color="secondary"
                @click="e1 = 4"
              >
                Back
              </v-btn>
      
              <v-btn text @click="redirect('/')">
                Cancel
              </v-btn>
            </v-stepper-content>

            <v-stepper-content step="6">
              Instructions (comma seperated)
              <v-textarea
              type="text"
              name="steps"
              id="inputSteps"
              th:field="*{steps}"
              
              :rules="inputRules"
              required></v-textarea>
      
              <v-btn
                color="primary"
                type="submit"

                :disabled="invalid"
              >
                Create Recipe
              </v-btn>
                    
              <v-btn
                color="secondary"
                @click="e1 = 5"
              >
                Back
              </v-btn>
      
              <v-btn text @click="redirect('/')">
                Cancel
              </v-btn>
            </v-stepper-content>
          </form>
        </v-stepper>
      </v-card>
    </div>
  </body>
</html>
