<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
<head>
    <title>Cookly</title>
    <link rel="preload" as="image" href="images/chef1s.jpg">
    <link rel="preload" as="image" href="images/chef2s.jpg">
    <link rel="preload" as="image" href="images/chef3s.jpg">
</head>
<body>
  <div layout:fragment="content">
    <v-carousel class="homeCarousel" cycle height="1000" hide-delimiters :show-arrows="false">
      <span class="hometext">Welcome to Cookly™.</span>
      <span class="homesubtext">The smartest and fastest cooking website.</span>
      <v-carousel-item
        v-for="(item,i) in chefCarousel"
        :key="i"
        :src="item.src"
        :lazy-src="item.lazy"
      ></v-carousel-item>
    </v-carousel>
    <v-img></v-img>
  </div>
</body>
</html>