<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
<head>
    <title>Cookly</title>
</head>
<body>
<div layout:fragment="content">
    <div id="carousel" class="carousel slide home-carousel" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="5000">
            <img src="/images/chef1.jpg" class="d-block w-100" alt="Chef chopping carrots">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="/images/chef2.jpg" class="d-block w-100" alt="Chef presenting a meal">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="/images/chef3.jpg" class="d-block w-100" alt="Chef seasoning food">
          </div>
          <div class="cookly-home-text">
            <h1>Welcome to Cookly.</h1>
            <p>
            <h2>The fastest, easiest cooking wesbite.</h2>
          </div>
        </div>
    </div>
</div>
</body>
</html>