<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="default"
>
  <head>
    <title>Spring Security Example</title>
  </head>
  <body>
    <div layout:fragment="content">
      <v-toolbar>
        <v-app-bar-nav-icon></v-app-bar-nav-icon>

        <v-toolbar-title>
          <form method="GET" th:action="@{/}">
            <button type="submit" class="btn btn-primary">Cookly</button>
          </form>
        </v-toolbar-title>

        <v-spacer></v-spacer>

        <form method="get" th:action="@{/search/results}">
          <v-text-field
            name="q"
            hide-details
            prepend-icon="mdi-magnify"
            single-line
          ></v-text-field>
        </form>
      </v-toolbar>

      <div class="recipe">
        <v-card shaped elevation="10">
          <v-card-title
            class="headline justify-center mb-1"
            th:text="${recipe.title}"
          ></v-card-title>
          <v-card-text
            class="mx-auto text-center"
            th:text="${recipe.description}"
          ></v-card-text>
          <v-row align="center" justify="center" class="mb-3" th:with="rating=|Number(${recipe.averageRanking/20})|">
            <v-rating
              length="5"
              size="20"
              th:value="${rating}"
              color="yellow darken-3"
              background-color="yellow darken-3"
              dense
              half-increments
              readonly
            ></v-rating>

            <td th:text="'(' + ${recipe.comments.size()} + ')'"></td>
          </v-row>

          <v-carousel height="500">
            <tr th:each="image : ${recipe.images}">
              <v-carousel-item th:src="${image.path}"></v-carousel-item>
            </tr>
          </v-carousel>

          <v-list-item>
            <v-list-item-content>
              <v-list-item-title> Time to make </v-list-item-title>
              <v-list-item-subtitle>
                <td
                  th:text="${recipe.time/60} + ' hour' + ${recipe.time/60 != 1 ?'s':''}"
                ></td>
                <td
                  th:text="${recipe.time%60} + ' minute' + ${recipe.time%60 != 1 ?'s':''}"
                ></td>
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

          <v-list-item>
            <v-list-item-content>
              <v-list-item-title> Servings </v-list-item-title>
              <v-list-item-subtitle>
                <td th:text="${recipe.servings}"></td>
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-card>
        <v-card class="my-5">
          <v-list shaped>
            <v-subheader>INGREDIENTS</v-subheader>
            <tr th:each="ingredient : ${recipe.ingredients}">
              <v-list-item th:text="${ingredient}"></v-list-item>
            </tr>
          </v-list>
        </v-card>

        <v-card class="mt-5 mb-10">
          <v-stepper non-linear v-model="e1">
            <v-stepper-header>
              <tr th:each="stepCollection, iStat : ${recipe.steps.keySet()}">
                <v-stepper-step
                  th:step="${iStat.index+1}"
                  th:text="${stepCollection}"
                  editable
                >
                </v-stepper-step>
                <v-divider></v-divider>
              </tr>
            </v-stepper-header>

            <v-stepper-items>
              <tr th:each="stepEntry, iStat : ${recipe.steps}">
                <v-stepper-content th:step="${iStat.index+1}">
                  <v-card class="mb-4">
                    <v-col>
                      <div th:each="step, jStat : ${stepEntry.value}">
                        <v-row>
                          <v-card class="pa-2" tile width="100%">
                            <v-card-title
                              th:text="${jStat.index + 1} + '. ' + ${step}"
                            ></v-card-title>
                          </v-card>
                        </v-row>
                      </div>
                      <v-btn
                        class="mt-6"
                        th:@click="|nextStep(${iStat.index+1}, ${recipe.steps.size()})|"
                      >
                        Continue
                      </v-btn>
                    </v-col>
                  </v-card>
                </v-stepper-content>
              </tr>
            </v-stepper-items>
          </v-stepper>
        </v-card>
      </div>
    </div>
  </body>
</html>
