<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="default"
>
  <head>
    <title>Spring Security Example</title>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  </head>
  <body>
    <div layout:fragment="content">
      <v-toolbar>
        <v-app-bar-nav-icon></v-app-bar-nav-icon>

        <v-toolbar-title>
          <form method="GET" th:action="@{/}">
            <button type="submit" class="btn btn-primary">Cookly</button>
          </form>
        </v-toolbar-title>

        <v-spacer></v-spacer>

        <form method="get" th:action="@{/search/results}">
          <v-text-field
            name="q"
            hide-details
            prepend-icon="mdi-magnify"
            single-line
          ></v-text-field>
        </form>
      </v-toolbar>

      <div class="recipe">
        <v-card shaped elevation="10">
          <v-card-title
            class="headline justify-center mb-1"
            th:text="${recipe.title}"
          ></v-card-title>
          <v-card-text
            class="mx-auto text-center"
            th:text="${recipe.description}"
          ></v-card-text>
          <v-row align="center" justify="center" class="mb-3">
            <v-rating
              length="5"
              size="20"
              th::value="${recipe.averageRanking/20}"
              color="yellow darken-3"
              background-color="yellow darken-3"
              dense
              half-increments
              readonly
              empty-icon="mdi-star-outline"
              full-icon="mdi-star"
              half-icon="mdi-star-half"
            ></v-rating>

            <td th:text="'(' + ${recipe.comments.size()} + ')'"></td>
          </v-row>

          <v-carousel height="500">
            <tr th:each="image : ${recipe.images}">
              <v-carousel-item th:src="${image.path}"></v-carousel-item>
            </tr>
          </v-carousel>

          <v-list-item>
            <v-list-item-content>
              <v-list-item-title> Time to make </v-list-item-title>
              <v-list-item-subtitle>
                <td
                  th:text="${recipe.time/60} + ' hour' + ${recipe.time/60 != 1 ?'s':''}"
                ></td>
                <td
                  th:text="${recipe.time%60} + ' minute' + ${recipe.time%60 != 1 ?'s':''}"
                ></td>
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

          <v-list-item>
            <v-list-item-content>
              <v-list-item-title> Servings </v-list-item-title>
              <v-list-item-subtitle>
                <td th:text="${recipe.servings}"></td>
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-card>
        <v-card class="my-5">
          <v-list shaped>
            <v-subheader>INGREDIENTS</v-subheader>
            <tr th:each="ingredient : ${recipe.ingredients}">
              <v-list-item th:text="${ingredient}"></v-list-item>
            </tr>
          </v-list>
        </v-card>

        <v-card class="my-5">
          <v-stepper non-linear v-model="e1">
            <v-stepper-header>
              <v-divider></v-divider>
              <tr th:each="stepCollection, iStat : ${recipe.steps.keySet()}">
                <v-stepper-step
                  th:step="${iStat.index+1}"
                  th:text="${stepCollection}"
                  editable
                >
                </v-stepper-step>
                <v-divider></v-divider>
              </tr>
            </v-stepper-header>

            <v-stepper-items>
              <tr th:each="stepEntry, iStat : ${recipe.steps}">
                <v-stepper-content th:step="${iStat.index+1}">
                  <v-card class="mb-4">
                    <v-col>
                      <div th:each="step, jStat : ${stepEntry.value}">
                        <v-row>
                          <v-card class="pa-2" tile width="100%">
                            <v-card-title
                              th:text="${jStat.index + 1} + '. ' + ${step}"
                            ></v-card-title>
                          </v-card>
                        </v-row>
                      </div>
                      <v-btn
                        class="mt-6"
                        th:@click="|nextStep(${iStat.index+1}, ${recipe.steps.size()})|"
                      >
                        Continue
                      </v-btn>
                    </v-col>
                  </v-card>
                </v-stepper-content>
              </tr>
            </v-stepper-items>
          </v-stepper>
        </v-card>

        <v-dialog
          v-model="dialog"
          max-width="800"
        >
          <v-card>
              <v-card-title>
                <div sec:authorize="isAuthenticated()"> You're signed in as <span sec:authentication="name">.</span></div>
                <div sec:authorize="isAnonymous()"> You need to sign in to comment.</div>
              </v-card-title>
              <div
              sec:authorize="isAuthenticated()"
              class="pa-6"
              >
              <form class="form-addcomment" th:action="@{|/recipe/${recipe.id}/comment|}" th:object="${CommentDetails}" method="post">
                <v-textarea
                  type="text"
                  name="text"
                  id="inputText"
                  th:field="*{text}"
                ></v-textarea>
                <v-row>
                  <v-rating
                    name="rating"
                    id="inputRating"
                    th:field="*{rating}"
                    length="5"
                    size="20"
                    color="yellow darken-3"
                    background-color="yellow darken-3"
                    dense
                    hover
                    half-increments
                    empty-icon="mdi-star-outline"
                    full-icon="mdi-star"
                    half-icon="mdi-star-half"></v-rating>
                  <v-btn class="text-right" type="submit">Post Comment</v-btn>
                </v-row>
              </form>
            </div>
            <div
            sec:authorize="isAnonymous()"
            class="pa-6">
              <v-btn th:href="@{/login(redirect=${'/recipe/' + recipe.id})}">Log In</v-btn>
            </div>
          </v-card>
        </v-dialog>

        <v-card class="mt-5 mb-10">
          <v-list three-line>
            <v-subheader>
              Comments
              <v-btn
                color="light-blue accent-4"
                class="text--primary ml-10"
                @click.stop="dialog = true"
                >
                  Leave a comment
                  <v-icon right>
                    mdi-message-text
                  </v-icon>
                </v-btn>
            </v-subheader>
            <tr th:each="comment : ${recipe.comments}">
              <v-list-item>
              <v-list-item-avatar>
                <v-img th:src="${comment.user.image.path}"></v-img>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title>
                  <td th:text="${comment.user.name}"></td>
                  <v-rating
                    length="5"
                    size="20"
                    th::value="${comment.rating/20}"
                    color="yellow darken-3"
                    background-color="yellow darken-3"
                    dense
                    half-increments
                    readonly
                    empty-icon="mdi-star-outline"
                    full-icon="mdi-star"
                    half-icon="mdi-star-half"
                  ></v-rating>
                </v-list-item-title>

                <v-list-item-subtitle>
                  <span class="text--primary text-h6" th:text="${comment.text}"></span>
                </v-list-item-subtitle>
              </v-list-item-content>
              <span class="text--secondary text-subtitle-1" th:text="${#temporals.format(comment.postTime, 'dd MMM yyyy')}"></span>
            </v-list-item>
            </tr>
          </v-list>
        </v-card>
      </div>
    </div>
  </body>
</html>
