<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="default"
>
  <head>
    <title>Search Results</title>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  </head>
  <body>
    <div layout:fragment="content">
      <form method="get" th:action="@{/search/results}">
        <v-text-field
          name="q"
          hide-details
          prepend-icon="mdi-magnify"
          single-line
          th:value="${query}"
          class="search-results-text-field"
        ></v-text-field>
      </form>

      <div class="search-results">
        <tr th:each="result : ${results}">
          <v-card max-width="30%">
            <v-img height="300" th:src="${result.images[0].path}"></v-img>

            <v-card-text class="layout text-center">
              <v-row align="center" justify="center">
                <v-rating
                  length="5"
                  size="14"
                  th::value="${result.averageRanking/20.0}"
                  color="yellow darken-3"
                  background-color="yellow darken-3"
                  dense
                  half-increments
                  readonly
                  empty-icon="mdi-star-outline"
                  full-icon="mdi-star"
                  half-icon="mdi-star-half"
                ></v-rating>
                <td th:text="'(' + ${result.comments.size()} + ')'"></td>
              </v-row>
            </v-card-text>

            <v-card-title><td th:text="${result.title}"></td></v-card-title>

            <v-card-description>By <a th:href="|/user/${result.author.id}|"><td th:text="${result.authorName}"></td></a></v-card-description>

            <v-card-actions>
              <v-btn
                type="submit"
                text
                th:href="@{/recipe/} + ${result.id}"
                color="deep-purple lighten-2"
              >
                View Recipe
              </v-btn>
            </v-card-actions>
          </v-card>
        </tr>
      </div>
    </div>
  </body>
</html>
